@tailwind base;

#my-experience:hover {
  color: theme('colors.cyan.950')
}

@media (prefers-color-scheme: dark) {
  #my-experience:hover {
    color: theme('colors.cyan.50')
  }
}

.page-container {
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
  margin-left: calc((100vw - min(100vw, 1600px)) / 2);
}

#intro-container {
  width: 40%;
  margin-left: 12%;
}

#logo {
  width: 38%;
  margin-right: 12%;
}

#hello-text {
  font-size: min(3.5vw, 30px);
}

.page-text {
  font-size: min(3vw, 30px);
}

#resume-link-container {
  width: 76%;
  margin-left: 12%;
}

#pcb_ref {
  width: 40%;
  min-width: 300px;
  margin-left: min(calc(60%/2), calc((100% - 300px)/2))
}


.scene {
  margin-left: 3.5%;
  width: 90vw;
  height: 70vw;
  max-height: 500px;
}

.text-container {
  width: 80%;
  margin-left: 10%;
}

#title {
  font-size: max(3.0vw, 30px);
}

#initech {
  font-size: max(4vw, 35px);
  font-style: italic;
}

.paragraph {
  font-size: max(1.5vw, 18px);
}

.begin-button {
  width: 40vw;
  height: calc(1 * 40vw / 3);
  font-size: max(1.5vw, 18px);
  color: theme('colors.cyan.700');
  border-color: theme('colors.cyan.700');
}

.begin-button:hover {
  color: theme('colors.cyan.800');
  border-color: theme('colors.cyan.800');
}

.test-cover {
  background-color: theme('colors.slate.100');
}

.game-text {
  color: theme('colors.cyan.900');
}

#bar-chart {
  stroke: theme('colors.cyan.800');
}

#bar-chart * {
  stroke: theme('colors.cyan.800');
}

#results-table {
  width: 60vw;
  max-width: 500px;
  margin-left: calc((100vw - min(60vw, 500px)) / 2);
  stroke: theme('colors.cyan.900');
  background-color: theme('colors.slate.100');
  overflow-x: hidden;
}

#results-table * {
  color: theme('colors.cyan.900');
  background-color: theme('colors.slate.100');
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  .test-cover {
    background-color: theme('colors.slate.800');
  }
  .begin-button {
    color: theme('colors.cyan.200');
    border-color: theme('colors.cyan.200');
  }
  .begin-button:hover {
    color: theme('colors.cyan.400');
    border-color: theme('colors.cyan.400');
  }
  .game-text {
    color: theme('colors.cyan.100');
  }

  #bar-chart {
    stroke: theme('colors.cyan.200');
  }

  #bar-chart * {
    stroke: theme('colors.cyan.200');
  }

  #results-table {
    color: theme('colors.cyan.200');
    background-color: theme('colors.slate.800');
  }

  #results-table * {
    color: theme('colors.cyan.200');
    background-color: theme('colors.slate.800');
  }
}