body {
    background-color: #F5F5F5;
}

#page-container {
    margin-top: 80px;
    margin-left: 10%;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
}

.logo-container {
    min-width: 110px;
    max-width: 110px;
}

.main-container {
    margin-left: 10%;
    width: 80%;
}

.inner-container {
    width: 90%;
    padding: 8px;
}

.school-container {
    width: 90%;
    padding: 0px;
}

