@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-slate-800;
    }

    .page-container {
        width: 100vw;
        height: 100vh;
        max-width: 1600px;
        margin-left: calc((100vw - min(100vw, 1600px)) / 2);
    }
}