body {
    background-color: #F5F5F5;
}

#page-container {
    margin-top: 80px;
    min-width: 640px;
    width: 70%;
    max-width: 1024px;
    margin-left: calc((100vw - width) / 2);
}

.logo-container {
    min-width: 110px;
    max-width: 110px;
}

.main-container {
    margin-left: 10%;
    width: 80%;
}

.inner-container {
    width: 90%;
    padding: 8px;
}

.school-container {
    width: 90%;
    padding: 0px;
}