.scene {
  background-color: teal;
}

#canvas {
  min-width: 375px;
  width: 70%;
  max-width: 1024px;
  margin-left: calc((100vw - width) / 2);
  margin-top: 30px;
}

.canvas {
  background: #000;
}
