@tailwind components;
@tailwind utilities;

@layer components {
    #header {
        margin-top: 50px;
        @apply text-cyan-100;
        @apply font-extralight;
        font-size: 30px;
        text-shadow: 1px 1px #0e7490;
    }

    .divider {
        width: 80%;
        margin-top: max(0.8vh, 3px);
        margin-right: 10%;
        margin-left: 10%;
        height: 1px;
        border-radius: max(0.8vh, 3px);
    }

    #divider1 {
        border-bottom: max(0.8vh, 3px) solid theme('colors.cyan.300');
    }

    #divider2 {
        border-bottom: max(0.8vh, 3px) solid theme('colors.cyan.600');
    }

    #divider3 {
        border-bottom: max(0.8vh, 3px) solid theme('colors.cyan.800');
    }
}

Divider {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-container {
    width: 100vw;
    max-width: 1600px;
    margin-left: calc((100vw - min(100vw, 1600px)) / 2);
}