@tailwind base;
@tailwind components;
@tailwind utilities;

#page-container {
  min-width: 375px;
  width: 70%;
  max-width: 1024px;
  margin-left: calc((100vw - width) / 2);
  margin-top: 30px;
}

.resume-divider {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	height: 1px;
}

.sm-resume-divider {
	width: 100%;
	height: 1px;
}


#profile-pic {
  border-radius: 20px;
}

#pdf-logo {
  height: 25px;
}

.top-work-bar {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.left-container {
  min-width: 100px;
  max-width: 100px;
}

.sm-logo-container {
  min-width: 100px;
  max-width: 100px;
}

.main-container {
  margin-left: 10%;
  width: 80%;
}

.sm-main-container {
  margin-left: 5%;
  width: 90%;
}

.inner-container {
  width: 90%;
  padding: 8px;
}

.school-container {
  width: 90%;
  padding: 0px;
}

.download-container {
  width: 30px;
  justify-self: flex-end;
}

#pdf-logo:hover {
  fill: darkred;
}

#back-logo:hover {
  color: #008080;
}

#mail-logo:hover {
  fill: #958049;
}

#linkedin-logo:hover {
  fill: #0072b1;
}

#github-logo:hover {
  fill: #6e5494;
}

.follow-logo:hover {
  cursor: pointer;
}

.follow-logo {
  fill: theme('colors.cyan.950');
}

@media (prefers-color-scheme: dark) {
  .follow-logo {
    fill: theme('colors.cyan.50');
  }
}
