@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-slate-800;
    }
}

#page-container {
    min-width: 375px;
    width: 70%;
    max-width: 1024px;
    margin-left: calc((100vw - width) / 2);
    margin-top: 30px;
}



.divider {
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* max-width: 80%; */
}

.logo-container {
    min-width: 120px;
    max-width: 120px;
}

.main-container {
    margin-left: 10%;
    width: 80%;
}

.inner-container {
    width: 90%;
    padding: 8px;
}

.school-container {
    width: 90%;
    padding: 0px;
}

.download-container {
    width: 30px;
    justify-self: flex-end;
}

#pdf-logo:hover {
    color: darkred;
}

#back-logo:hover {
    color: #008080;
}

#mail-logo:hover {
    fill: #958049;
}

#linkedin-logo:hover {
    fill: #0072b1;
}

#github-logo:hover {
    fill: #6e5494;
}

.follow-logo {
    fill: #696969;
}

.follow-logo:hover {
    cursor: pointer;
}
